<div class="row mt-4" *ngIf="chartLoading">  
  <div class="col-md-12 col-sm-12">
      <div class="panel-heading">
          <i class="fa fa-bar-chart-o"></i> Trend Overview
      </div>
      <div class="chart-body">
       
           <app-highcharts #chart 
               [Highcharts]="Highcharts"
               [constructorType]="stockChart"
               [options]="lineChartOptions"
               [callbackFunction]="chartCallback"
               [(update)]="updateFlag"
               [isOneToOne]="oneToOneFlag"
       
               style="width: 100%; height: 100%; display: block;"
           ></app-highcharts>
   </div>
  </div>               
</div>
